node_modules/
dist/

.idea/
.vs_code/

.coverage/
.nyc_output/
bak/
.logs/

*.log
TEST*.xml
.DS_Store
Thumbs.db
*gitignored*

# Added by mle-best-practices
.vscode/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
.output.txt
lib-cov/
coverage/
.grunt
bower_components
build/Release
jspm_packages/
typings/
.npm
.eslintcache
*.tgz
.yarn-integrity
*-audit.json
.env
app/
.gen/
*gitignored

# Added by mle-best-practices
./app/
./dist/

# Added by mle-best-practices
*private*

# Added by mle-best-practices
disti/

# Added by mle-best-practices
bower_components/
build/
pids/

# Added by mle-best-practices
.claude/
.cursor/